fa-icon {
  cursor: pointer;
}

.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;

  input {
    width: 100%;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      height: 16px;
      width: 16px;
    }
  }

  p {
    padding: 1rem;
  }
}

.player-actions {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .play-control {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.captions {
  margin-top: -10px;
  width: 47.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    transition: all 0.5s ease;
    font-size: 13px;
    padding: 3px 5px;
  }
}

.track {
  margin-top: 1rem;
  background-color: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  background-color: lightgray;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

.highlight {
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }

  .player-actions {
    width: 80%;
    .play-control {
      width: 60%;
    }
  }

  .captions {
    width: 80%;
    margin-top: 0;

    p {
      font-size: 11px;
    }
  }
}
