<div class="player">
  <div class="time-control">
    <p>{{ getTime(currentTime) }}</p>
    <div
      class="track"
      [ngStyle]="{
        background:
          'linear-gradient(to right,' +
          currentSong.background[0] +
          ',' +
          currentSong.background[1] +
          ')'
      }"
    >
      <input
        type="range"
        min="0"
        [max]="duration || 0"
        [value]="currentTime"
        (input)="onDragHandler($event)"
      />
      <div
        class="animate-track"
        [ngStyle]="{ transform: 'translateX(' + animationPercentage + '%)' }"
      ></div>
    </div>

    <p>{{ duration ? getTime(duration) : "0:00" }}</p>
  </div>

  <div class="player-actions">
    <div class="repeat">
      <fa-icon [icon]="faRedo" size="2x" (click)="onRepeat()"></fa-icon>
    </div>

    <div class="play-control">
      <fa-icon
        [icon]="faAngleLeft"
        size="2x"
        class="skip-back"
        (click)="playLeftSong()"
      ></fa-icon>
      <fa-icon
        [icon]="playerService.isPlaying ? faPause : faPlay"
        size="2x"
        class="play"
        (click)="playSongHandler()"
      ></fa-icon>
      <fa-icon
        [icon]="faAngleRight"
        size="2x"
        class="skip-right"
        (click)="playRightSong()"
      ></fa-icon>
    </div>

    <div class="toggle">
      <fa-icon
        [icon]="autoplay ? faToggleOn : faToggleOff"
        size="2x"
        (click)="onAutoplay()"
      ></fa-icon>
    </div>
  </div>

  <div class="captions">
    <p [ngClass]="repeat ? 'highlight' : ''">repeat</p>
    <p [ngClass]="autoplay ? 'highlight' : ''">autoplay</p>
  </div>

  <audio
    #audioRef
    [src]="currentSong.audio"
    (timeupdate)="timeUpdateHandler($event)"
    (loadedmetadata)="timeUpdateHandler($event)"
    (ended)="onSongEnded()"
  ></audio>
</div>
